*.suo
*.vs
*/bin/*
*/obj/*
*/.vs/*
*.user
*.csproj.DotSettings
.sass-cache/
*.css.map
*.log
*.sqlite
*.backup.*
*/node_modules/*


# OS Files
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
PSD/
_Publish/
*.js.map
